img {
  width: 100%;
}

.bg-green, .bg-green:hover, .bg-green:active {
  background-color: #4CAF50;
}

.white-text {
  color: white;
  color: rgba(255, 255, 255, 0.75);
}

.grey-text {
  color: #333;
  color: rgba(80,80,80, 0.75);
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15px;
  z-index: 1;
}

.nav-bar > a {
  color: white;
  color: rgba(255, 255, 255, 0.65);
  filter: invert(1) grayscale(1) contrast(9);
  font-size: 1.15em;
  text-transform: uppercase;
  margin: 0 15px;
}

.banner {
  height: 69vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner > h4 {
  padding: 0 10px;
}

.image-logo {
  width: 40vw;
}

.btn-banner {
  margin-top: 55px;
}

/* heroe container */
.heroe-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 50px;
  background-color: #52aebf;
  background: linear-gradient(180deg, #fff 50%, #52aebf 50%);
}

.heroe-image {
  width: 360px;
  z-index: 1;
}

.top-waves-container {
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: -7px;
  z-index: -1;
}

.waves-container {
  width: 100%;
  position: absolute;
  top: -7px;
  z-index: 0;
}

.waves {
  width: 100%;
}

.heroe-description {
  width: 100%;
  min-height: 30vh;
  background-color: #52aebf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroe-description > h4 {
  padding-left: 5px;
}

.transition {
  /* background-image: url(../images/bg-gradient.png); */
  /* background-size: cover; */
}

/* features */

.features {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 85vh;
  margin-top: -1px;
}

.features > .description {
  max-width: 50vw;
  color: rgba(255, 255, 255, 0.75);
  padding: 15px;
}

.features > .image {
  width: 360px;
}

.section-1 {
  background-color: #52aebf;
}

.section-2 {
  background: #52AFBF;
  background: linear-gradient(to bottom, #52AFBF, #55a5c0);
}

.section-3 {
  background: #55a5c0;
  background: linear-gradient(to bottom, #55a5c0, #579bc0);
}

.section-4 {
  background: #579bc0;
  background: linear-gradient(to bottom, #579bc0, #5a94c2);
}

.section-5 {
  background: #5a94c2;
  background: linear-gradient(to bottom, #5a94c2, #5f8ac2);
}

.section-6 {
  background: #5f8ac2;
  background: linear-gradient(to bottom, #5f8ac2, #6183c5);
}

.section-6 > .image {
  width: 620px;
  max-width: 100%;
}

.section-7 {
  background: #6183c5;
  background: linear-gradient(to bottom, #6183c5, #6479c5);
}

.section-8 {
  background: #6479c5;
  background: linear-gradient(to bottom, #6479c5, #6672c7);
}

.section-8 > .image {
  width: 620px;
  max-width: 100%;
}


/* pricing */
.pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  background-color: #444;
  margin-top: -2px;
}

.pricing > h3 {
  color: white;
  margin-bottom: 15vh;
}

.pricing > .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mui-panel {
  margin-right: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.85);
}

.pricing > .cards > .mui-panel > .card-content {
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

/* testimonios */
.testimonios {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #555;
  height: 95vh;
  color: white;
}

.video {
  width: 60%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.testimonios > h3 {
  margin-bottom: 50px;
}

/* bottom nav */
.bottom-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #333;
  color: white;
}

.bottom-nav > .columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 30px 0;
}

.bottom-nav > .columns > .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding-bottom: 35px;
}

.bottom-nav > .columns > .column > .contact {
  color: white;
  font-size: 1.3em;
}

.bottom-nav > .columns > .column > a {
  color: white;
  font-size: 1.3em;
}

.bottom-nav > .copyright {
  background-color: #111;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
}

.bottom-nav > .copyright > p {
  margin: 0;
}

.link {
  text-decoration: underline;
}

/* contactar */
.contactar {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1000;
}

.contactar > .whatsapp-button {
  font-size: 4em;
  background-color: #4CAF50;
  display: flex;
  justify-content: center;
  padding: 15px;
  border-radius: 50%;
}

/* responsive */
@media only screen and (max-width: 1024px) {
  .heroe-container {
    background: linear-gradient(180deg, #fff 30%, #52aebf 30% 70%);
  }
}

@media only screen and (max-width: 768px) {
  .heroe-container {
    background: linear-gradient(180deg, #fff 25%, #52aebf 25% 70%);
  }
}

@media only screen and (max-width: 425px) {
  .top-waves-container > .waves {
    width: 367%;
  }

  .heroe-container {
    background: linear-gradient(180deg, #fff 10%, #52aebf 10% 70%);
  }

  .image-logo {
    width: 85vw;
  }

  .testimonios > div.mui--z2 {
    box-shadow: 0 0 0;
  }

  .features {
    flex-direction: column;
  }

  .features > .description {
    max-width: 100%;
    color: rgba(255, 255, 255, 0.75);
    padding: 15px;
  }

  .section-2 {
    flex-direction: column-reverse;
  }

  .section-4 {
    flex-direction: column-reverse;
  }

  .section-6 {
    flex-direction: column-reverse;
  }

  .pricing > .cards {
    flex-direction: column;
  }

  .bottom-nav {
    justify-content: space-between;
    padding-top: 15px;
  }

  .bottom-nav > .columns {
    flex-direction: column;
  }

  .mui-panel {
    margin: 5px 0;
    padding: 0;
    width: 100%;
  }
}

/* overwrites */
.mui-btn {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.mui-btn > i {
  padding: 0 5px;
  font-size: 1.15em;
}



/* animation */


.animation-target {
  -webkit-animation: animation 3000ms linear both;
  animation: animation 3000ms linear both;
}

/* Generated with Bounce.js. Edit at https://goo.gl/5KkUd6 */

@-webkit-keyframes animation {
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.4% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -7.14, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -7.14, 0, 1); }
  4.8% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.882, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.882, 0, 1); }
  6.71% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -11.034, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -11.034, 0, 1); }
  8.51% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -9.974, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -9.974, 0, 1); }
  11.41% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -11.965, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -11.965, 0, 1); }
  14.31% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.975, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.975, 0, 1); }
  18.02% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -13.424, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -13.424, 0, 1); }
  23.82% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.996, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.996, 0, 1); }
  27.53% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.506, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.506, 0, 1); }
  33.33% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); }
  37.04% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.845, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.845, 0, 1); }
  42.94% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.998, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.998, 0, 1); }
  46.55% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.951, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.951, 0, 1); }
  52.45% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.999, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.999, 0, 1); }
  56.16% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.985, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.985, 0, 1); }
  61.96% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); }
  65.67% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.995, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.995, 0, 1); }
  71.47% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); }
  75.18% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.999, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.999, 0, 1); }
  81.08% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); }
  84.68% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); }
  90.59% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); }
  94.29% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); }
}

@keyframes animation {
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.4% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -7.14, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -7.14, 0, 1); }
  4.8% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.882, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.882, 0, 1); }
  6.71% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -11.034, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -11.034, 0, 1); }
  8.51% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -9.974, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -9.974, 0, 1); }
  11.41% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -11.965, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -11.965, 0, 1); }
  14.31% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.975, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.975, 0, 1); }
  18.02% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -13.424, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -13.424, 0, 1); }
  23.82% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.996, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.996, 0, 1); }
  27.53% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.506, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.506, 0, 1); }
  33.33% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); }
  37.04% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.845, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.845, 0, 1); }
  42.94% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.998, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.998, 0, 1); }
  46.55% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.951, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.951, 0, 1); }
  52.45% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.999, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.999, 0, 1); }
  56.16% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.985, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.985, 0, 1); }
  61.96% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); }
  65.67% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.995, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.995, 0, 1); }
  71.47% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); }
  75.18% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.999, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.999, 0, 1); }
  81.08% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); }
  84.68% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); }
  90.59% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); }
  94.29% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15, 0, 1); }
}
